* {
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #111;
    margin:0;
    padding: 0;
}

img {
    display: none;
}

canvas {
    position: absolute;
    /*border-radius: 18px;*/
    border: none;
}

#game-container {
    position: absolute;
    cursor: crosshair;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    padding: 0;
    margin-top: -310px;
    margin-left: -410px;
    box-shadow: 0px 0px 30px 2px #333;
    /*border-radius: 18px;*/
}
